<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="" (click)="selectOption('')">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="" [ngClass]="{active : menuOption == ''}" (click)="selectOption('')">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="servicios" [ngClass]="{active : menuOption == 'servicios'}" (click)="selectOption('servicios')">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacto" [ngClass]="{active : menuOption == 'contacto'}" (click)="selectOption('contacto')">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
